@model MvcPL.Models.ProfileViewModel
@{
    ViewBag.Title = "Index";
}
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Profile</a></li>
    <li><a data-toggle="tab" href="#menu1">My files</a></li>
    @if (User.IsInRole("Administrator"))
    {
        <li><a data-toggle="tab" href="#menu2">Users List</a></li>
    }
</ul>
<div class="tab-content">
    <div id="home" class="tab-pane fade in active">
        @Html.Partial("_UserProfile", Model)
        @using (Html.BeginForm("Edit", "Manage", new { @User.Identity.Name }, FormMethod.Get))
        {
            <input class="btn btn-default btn-sm " type="submit" value="Edit Profile" style="margin-top: 10px; margin-bottom: 30px;">
        }
    </div>
    <div id="menu1" class="tab-pane fade">
        <div class="row">
            <div class="col-lg-2  col-mg-2  col-sm-2  col-xs-2 ">
                @using (Html.BeginForm("Upload", "File"))
                {
                    <input class="btn btn-default btn-sm " type="submit" formmethod="get" value="Add New Files | +" style="margin-top: 10px; margin-bottom: 30px;">
                }
            </div>
            <div class="col-lg-9  col-mg-9  col-sm-9  col-xs-9 ">
                @Html.Action("FileView")
            </div>
        </div>
    </div>

    @if (User.IsInRole("Administrator"))
    {
        <div id="menu2" class="tab-pane fade">
            @Html.Action("UserView")
        </div>
    }
</div>
