@model MvcPL.Models.ProfileViewModel


<div class="row text-center">
    <p>First Name: @Html.LabelForModel(Model.FirstName)</p>
    <p>Last Name: @Html.LabelForModel(Model.LastName)</p>
    <p>Last Update: @Html.LabelForModel(Model.LastUpdate.ToString())</p>
    <p>Your Email: @Html.LabelForModel(User.Identity.Name)</p>
</div>

