@model IEnumerable<MvcPL.Models.CommentViewModel>
@{
    ViewBag.Title = "ComentsData";
}
<div class="clear"></div>
<div class="hr1"></div>
<div class="one-center">

    <div>
        <form method="post">
            <div>
                <label for="UserName">Enter your name</label>
                <input type="text" name="UserName" id="UserName" />
            </div>
            <div>
                <label for="Message">Enter your message</label>
            </div>
            <textarea rows="5" cols="45" name="Messange" id="Messange" wrap="soft"></textarea>
            <input type="submit" value="Add comment" />
        </form>
    </div>
</div>
<div class="clear"></div>

@foreach (var item in Model)
{
    <div class="one-third">
        <p>&nbsp;</p>
        @Html.ActionLink("Delete", "DeleteComments", new {id = item.Id, pageId = (int)ViewBag.Id})
        


    </div>
    @*<div class="one-center">*@
    <div class="two-third middleFull">
        <p>
            @item.Messange
        </p>
        @*<div class="two-third middleFull">*@
        <p>
            Posted by @item.UserName on @item.CreationTime
        </p>
    </div>
    @*</div>*@
}

