<div class="login">
    <ul class="list-inline">
        @if (Request.IsAuthenticated)
        {
            <text>
                <li>Hello, @Html.ActionLink(User.Identity.Name.Split('@')[0], "Index", "Manage")!</li>
                <li>
                    @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                    }
                </li>
            </text>
        }
        else
        {
            <li>@Html.ActionLink("Register", "Register", "Account")</li>
            <li>@Html.ActionLink("Log in", "Login", "Account")</li>
        }
    </ul>
</div>